body {
  padding: 20px;
}

h1 {
  margin-top: 0;
}

#choose-file { clear: both; }

#template { display: none; }

.hash {
  clear: both;
  margin-bottom: 5px;
}

.hash .name {
  font-weight: bold;
  word-wrap: break-word;
}

.hash .status .progress {
  margin-bottom: 0;
}

.hash .status .in-progress {
  display: none;
}

.hash .status .controls {
  float: right;
  margin-top: 5px;
}

.hash .done {
  display: none;
}

.hash .done .size {
  float: right;
}
.hash .done .result {
  font-weight: bold;
}